* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(91deg, #9F55FF 0.99%, #FF46B9 102.1%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1176px;
    background-color: #1E1F28;
    padding: 64px 96px;
    gap: 36px;
}

.container header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-recomendacao {
    display: flex;
    padding: 8px 16px;
    width: 220;
    height: 48px;
    align-items: center;
    background: linear-gradient(91deg, #9F55FF 0.99%, #FF46B9 102.1%);
    text-decoration: none;
    color: white;
    font-family: Outfit, sans-serif;
    border-radius: 5px;
}

.btn-recomendacao:hover {
    transform: scale(1.005);
    box-shadow: 0px 0px 10px rgb(62, 33, 100);
}

#logo {
    margin-left: 5px;
    padding: 3px;
    background-color: rgb(255,255,255,0.2);
    border: 0px solid white;
    border-radius: 100%;
}

.catalogo header {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
    font-family: Outfit;
    color: white;
    font-size: 20px;
    align-items: center;
}

.filmes{ /* div dos filmes*/
    display: flex;
    justify-content: space-between;
}

#poster {
    width: 280px;
    height: 432.77px;
    border-radius: 10px;
    margin-bottom: 18px;
}

.filme { 
    margin: 0px 36px
}

.filme header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.filme header div {
    font-size: 25px;
    color: yellow;
}

.filme header div i {
    margin: 5px;
    text-shadow: 0px 0px 5px #FEEA35 ;
}

.filme h2{
    color: white;
    font-family: Outfit;
    margin-bottom: 12px;
}

#estrela {
    color: yellow;
    fill: var(--Cores-Amarelo, #FEEA35);
    background-image: yellow;
}

.btn-assistir {
    width: 280px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background: #2b2b37;
    text-decoration: none;
    color: white;
}

.btn-assistir a {
    margin: 0px 0px 0px 15px;
}

#play-icon {
    color: #9F55FF;
    margin: 0px 15px;
    background-color: #1e1f28;
    border-radius: 100px;
    padding: 8px;
    flex-shrink: 0;
}

.phosphor-icon {
    fill: #9F55FF;
}